.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 2.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar--logo {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}
