.div__container {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1180px;
  height: 100%;
  margin: 12px auto;
  padding-top: 4rem;
}

.div__container * img {
  width: 75%;
}

.div__left {
  flex: 60%;
  height: 100%;
}

.div__right {
  flex: 40%;
}

.div__right,
.div__left {
  padding: 0 15px 15px;
}

.div__info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.div__price {
  color: darkred;
}

.div__lastedupdated {
  font-size: 10px;
}
