.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  max-width: 400px;
  min-width: 150px;
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;
  box-shadow: 5px 5px 26px 5px #000000;
}

.card-image {
  position: relative;
  padding-top: 50px;
  object-fit: contain;
}
