.div__container {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1180px;
  height: 100%;
  margin: 12px auto;
  padding-top: 4rem;
}

.div__container * img {
  width: 75%;
  max-width: 600px;
  border-radius: 10px;
  min-width: 200px;
}

.div__left {
  flex: 60%;
  height: 100%;
}

.div__right {
  display: flex;
  flex-direction: column;
  flex: 40%;
}

.div__right,
.div__left {
  padding: 0 15px 15px;
}

.div__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__price {
  color: darkred;
}

.div__lastedupdated {
  font-size: 10px;
}

.div__box {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  padding: 6px 0px;
  height: 15rem;
  width: 15rem;
  background-color: white;
  border-radius: 10px;
}

.div__vendorbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
