.div__container {
  position: fixed;
  top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 12px auto;
}

.div__container * img {
  width: 65%;
  max-width: 600px;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 1px 1px 3px 0px rgba(25, 25, 25, 0.25);
}

@media all and (max-width: 960px) {
  .div__container * img {
    width: 45%;
    max-width: 600px;
    border-radius: 10px;
    min-width: 200px;
    box-shadow: 1px 1px 3px 0px rgba(25, 25, 25, 0.25);
  }
}

.div__top {
  flex: 60%;
  height: 100%;
}

.div__bottom {
  display: flex;
  flex-direction: column;
  flex: 40%;
}

.div__bottom,
.div__top {
  padding: 0 15px 15px;
}

.div__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__price {
  color: darkred;
}

.div__lastedupdated {
  font-size: 10px;
}

.div__box {
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 24rem;
}

.div__vendorbox {
  background-color: white;
  border-radius: 1px;
  border-style: solid;
  border-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0.1rem 0rem;
  border-radius: 5px;
  transform: scale(1);
  transition: all 200ms ease;
}

.div__vendorbox:hover,
.div__vendorbox:focus,
.div__vendorbox:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}
